
.sops/**
/target
**/target
node_modules
web/dist/*
!web/dist/.gitkeep
web/coverage
*.profraw
lcov.info
locales/qps-ploc/
.DS_Store
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.avif
*.bmp
*.tif
*.tiff
*.mp4
*.mov
*.webm
/spikes/artifacts
/spikes/**/target
